<!DOCTYPE html>
<html>

<head>
    <title>

    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <h2>Enter a New Vinyl</h2>
    <form action="/vinyls" method="POST">
        <label>Title:
        <input type="text" name="title">
      </label><br>
        <label>Release Year:
        <input type="text" name="releaseYear">
      </label><br>
        <label>Band
        <input type="text" name="band">
      </label><br>

        <input type="submit" value="Add Vinyl"> <br>

    </form>
    <a href="/vinyls">
        <button type="submit">cancel</button></a>
</body>


</html>


<body class="w3-black">